<div class="row">
  <aside class="col-sm-8">
        <div class="jumbotron">
          <h3>登録済みユーザー名：<%= @user.name %></h3>
        </div>
        <%= link_to 'ログイン', login_path, class: 'btn btn-primary' %>
  </aside>
